body{
    background: #535050;
    color: white;
}
div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo img {
    border-radius: 50%;
}

.logo{
    border: 1px solid rgb(255, 252, 252);
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
    height: 100; 
    float: left; 
    width: 50;  
}
ul{
    background-color: solid seashell;
    font-family: tahoma;
    margin-left: 10%; 
    
}
ul li{   
text-decoration: none
float: right;
margin-top: 10%;
padding: 10px;
display: inline;
}
li a{
text-decoration: none;
background-color: black;
color: rgb(255, 241, 241);
border: 2px solid black;
border-radius: 5px;
padding: 10px;
transition: 0.5s;
margin-top: 100px;
}

li a:hover{
background-color: white;
color: black;
}
.web{
    text-align: center;
    text-decoration:dashed;
    font-size: 100px;
    margin-top: 10%;
}

.reg{
text-align: center;
padding-right: 20%;
}
.reg ul li center a{
    text-decoration: none;
background-color: black;
color: rgb(255, 241, 241);
border: 2px solid black;
border-radius: 5px;
padding: 10px;
transition: 0.5s;
margin-top: 100px;
display: center;

}
   
.reg ul li a:hover{
background-color: white;
color: black;
}    

.container{
    background-color: white;
     border-radius: 5px;
     color: black;
     
     float: left;
     width: 20%;
     height: 100%;

}
.bl{
    
    border-radius: 5px;
    
   float: right;
   text-align: center;
   width: 80%;
   height: 100%;
}
.ft{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}