body{
    background: #9E9A95;
}
div{
    color: white;
}
div h1{
    background: #B5B5B5;
    color: #000;
}
.one{
    background: #266A9F;
}
.two{
    background: #2276A5;
}
.three{
    background-color: #1E81B0;
}
.four{
    background: #2F88B5;
}
.five{
    background: #4891B6;
}
.six{
    background: #619ABD;
   
}
.seven{
    background: #75A2C1;
}
.eight{
    background: #189269;
}
.nine{
    background: #C28BA3;
}
.ten{
    background: #C67E9A;
}
.eleven{
    background: #C27191;
}
.tweleve{
    background: #C06286;
}
.thirteen{
    background: #BF5579;
}
.fourteen{
    background: #BE466E;
}
.fifteen{
    background: #C22E68;
}